:host {
    width: fit-content;

    input {
        &.clean {
            border: none;
            background-color: inherit;
        }

        &.fill {
            background-color: var(--gray-background-color);
        }

        &.outlined {
            color: var(--charcoal-color);
            border: 1px solid rgba(var(--charcoal), 0.5);
            background-color: var(--light-background-color);

            &:focus {
                border-color: var(--charcoal-color);
            }
        }

        &.sharp {
            border-radius: 0;
        }

        &.rounded {
            border-radius: 8px;
        }

        &.xxs-size {
            padding: 4px 6px;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        &.xs-size {
            padding: 8px;
            font-size: 12px;
        }
        
        &.s-size {
            padding: 8px;
            font-size: 14px;
        }
        
        &.m-size {
            padding: 12px;
            font-size: 18px;
        }

        &.xxl-size, &.xl-size, &.l-size {
            padding: 14px;
            font-size: 20px;
        }
    }
}