<div class="fill-viewport flex content-centered align-centered">
    <div class="search-background">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <svg viewBox="0 0 100 100" x="260" y="350" width="60px" height="60px">
                <title>square</title>
                <rect x="3" y="3" width="60" height="60" fill="none" stroke-width="6" />
            </svg>
            <svg viewBox="0 0 100 100" x="950" y="220" width="40px" height="40px">
                <title>circle</title>
                <circle cx="50" cy="50" r="47" fill="none" stroke-width="6" />
            </svg>
            <svg viewBox="0 0 100 100" x="1050" y="320" width="200px" height="200px">
                <title>xsquaregraph</title>
                <line x1="0" y1="80" x2="99" y2="80" stroke-width="1" />
                <line x1="50" y1="1" x2="50" y2="100" stroke-width="1" />
                <polyline fill="none" points="48,3 50,1 52,3" stroke-width="1" />
                <polyline fill="none" points="97,78 99,80 97,82" stroke-width="1" />
                <text x="85" y="88" stroke-width="0" style="font: italic 5px sans-serif;">x axis</text>
                <text x="55" y="5" stroke-width="0" style="font: italic 5px sans-serif;">y axis</text>
                <path
                    fill="none"
                    d="M 20,0
                        Q 50,159 80,0" />
            </svg>
        </svg>
    </div>
    <maw-search-bar size="l" edge="sharp" />
</div>
