:host {
    .background-gradient-gray {
        background: var(--light-gray-color);
        background: linear-gradient(110deg, rgb(230, 230, 230) 0%, var(--light-background-color) 100%);
            
        .massive-text {
            display: block;
            font-size: 70px;
            margin: 60px;
        }

        .huge-text {
            display: block;
            font-size: 28px;
            margin: 10px 0;
        }
    }

    .flex {
        display: flex;
        flex-wrap: wrap;

        &.evenly-2 > * {
            flex: 1 1 50%;
        }
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }
}