<section class="section background-gradient-gray flex evenly-2">
    <div>
        <span class="massive-text xxl-text">Bring your math skills to the next level</span>
    </div>
    <div class="flex content-centered align-centered">
        <div>
            <span class="huge-text xl-text">Ready to take up ?</span>
            <maw-button>Start your journey</maw-button>
        </div>
    </div>
</section>
<section class="section fields-section flex flex-column content-centered">
    <div class="flex flex-row content-centered l-text text-center">
        Choose which field you want to improve<br/>We have a comprehensive list of course that may suit your need
    </div>
    <div class="flex flex-row content-evenly-scattered">
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div>
                        <img src="/assets/svg/noun-math.svg" alt="Mathematics" width="60" />
                    </div>
                    <span class="headline">Mathematics</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="xs">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div>
                        <img src="/assets/svg/noun-brain.svg" alt="Algorithms, Logic" width="60" />
                    </div>
                    <span class="headline">Algorithms</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="xs">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div>
                        <img src="/assets/svg/noun-data-science.svg" alt="Data Science" width="60" />
                    </div>
                    <span class="headline">Data Science</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="xs">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
    </div>
    <maw-button routerLink="/courses" class="align-self-center section-button">Browse the full catalog</maw-button>
</section>
