<section class="section background-gradient-gray flex evenly-2">
    <div>
        <span class="massive-text">Bring your math skills to the next level</span>
    </div>
    <div class="flex content-centered">
        <div>
            <span class="huge-text">Ready to take up ?</span>
            <maw-button>Start your journey</maw-button>
        </div>
    </div>
</section>
<section class="section flex flex-column content-centered">
    <div class="flex flex-row content-evenly-scattered">
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div></div>
                    <span class="headline">Mathematics</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="XS">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div></div>
                    <span class="headline">Algorithms</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="XS">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
        <maw-card>
            <maw-card-content>
                <div class="card-content flex flex-column align-centered">
                    <div></div>
                    <span class="headline">Data Science</span>
                    <span class="description">Lorem ipsum del colo astar fit de</span>
                </div>
            </maw-card-content>
            <maw-card-actions>
                <maw-button size="XS">Explore</maw-button>
            </maw-card-actions>
        </maw-card>
    </div>
    <maw-button class="align-self-center">Browse the full catalog</maw-button>
</section>
