@font-face {
    font-family: Jost;
    src: url("/assets/fonts/Jost/Jost-VariableFont_wght.ttf");
}

:root {
    --light-background: 245, 245, 245;
    --primary: 68, 73, 80;
    --secondary: 98, 104, 111;
    --gray: 131, 137, 145;
    --light-gray: 163, 170, 179;
    --charcoal: 47, 79, 79;
    --deep-blue: 0, 0, 139;
    --emerald-green: 0, 128, 0;

    --light-background-color: rgb(var(--light-background));
    --primary-color: rgb(var(--primary));
    --secondary-color: rgb(var(--secondary));
    --gray-color: rgb(var(--gray));
    --light-gray-color: rgb(var(--light-gray));
    --charcoal-color: rgb(var(--charcoal));
    --deep-blue-color: rgb(var(--deep-blue));
    --emerald-green-color: rgb(var(--emerald-green));

    font-family: Jost;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    margin: 0;
    background: var(--light-background-color);
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.content-evenly-scattered {
        justify-content: space-around;
    }

    &.content-centered {
        justify-content: center;
    }

    &.align-centered {
        align-items: center;
    }

    &.evenly-2 > * {
        flex: 1 1 50%;
    }

    &.evenly > * {
        flex: 1 1 auto;
    }
}

.flex-row {
    flex-direction: row;

    &.flex-reversed {
        flex-direction: row-reverse;
    }
}

.flex-column {
    flex-direction: column;

    &.flex-reversed {
        flex-direction: column-reverse;
    }
}

.align-self-center {
    align-self: center;
}

.xxs-text {
    font-size: 10px;
}

.xs-text {
    font-size: 12px;
}

.s-text {
    font-size: 14px;
}

.m-text {
    font-size: 16px;
}

.l-text {
    font-size: 24px;
}

.xl-text {
    font-size: 48px;
}

.xxl-text {
    font-size: 70px;
}

.text-center {
    text-align: center;
}